#Lists and Tuples

Lists and tuples are  data structures used to store collections of items
- A list is a <b>mutable</b>, or changeable, ordered sequence of elements.
- Each element inside a list can be of any data type (i.e., they are <b>heterogeneous</b>, unlike arrays in some other languages)
- Lists are defined by having values between square brackets []
- Lists are particularly useful because they are dynamic, meaning they can be altered after their creation by adding, removing, or changing elements

A tuple is an <b>immutable</b> ordered sequence of elements, meaning that once it is created, it cannot be modified
- Tuples are defined by having values between parentheses () and can also store heterogeneous collections
- Tuples are faster than lists due to their immutability and are commonly used for data that should not change, such as days of the week or dates on a calendar

Both lists and tuples can be nested, support indexing, and can be iterated over in a loop.

Elements in lists and tuples are comma-separated
- Items are stored in the order in which they are added

In [ ]:
# a list of 5 elements
temp_list = [48.0, 35.0, 20.2, 100.0, 42.0]

# a tuple of 5 elements
temp_tuple = (48.0, 35.0, 20.2, 100.0, 42.0)

print(temp_list)
print(temp_tuple)

[48.0, 35.0, 20.2, 100.0, 42.0]
(48.0, 35.0, 20.2, 100.0, 42.0)

In [2]:
# a list of 4 string elements
inventory = ['hat', 'shirt', 'pants', 'shoes' ]
print(inventory)
# a list of 3 different elements: string, int, float
movie = ['The Holy Grail', 1975, 9.99]
print(movie)
# an empty list
test_scores = []
print(test_scores)

['hat', 'shirt', 'pants', 'shoes']
['The Holy Grail', 1975, 9.99]
[]

Individual elements of a list can be accessed by inserting a 0-based numeric index in square brackets following the name of the list

In [3]:
temps = [48.0, 35.0, 20.2, 100.0, 42.0]
print(temps[0])
print(temps[4])

print(movie[0].upper())

48.0
42.0
THE HOLY GRAIL

A list index cannot be larger than the size of the list (number of elements) minus 1

In [ ]:
temps = [48.0, 30.5, 20.2, 100.0, 42.0]
print(temps[5])

In Python an index can also be negative
- Use -1 as an index to the last element in a list
- Python will still return an error if the list is empty

In [ ]:
# -1 is always the last element
print(temps[-1])

# the first element
print(temps[-5])

# a non-existent element
print(temps[-6])

# empty list
print(test_scores[-1])

##Modifying List Elements
Modifying elements is similar to accessing them
- A 0-based index is used for assignment

In [9]:
print(temps)
# set fourth element
temps[3] = 98.0
print(temps)

print(inventory)
# set second element
inventory[1] = 'socks'
print(inventory)

[48.0, 30.5, 20.2, 100.0, 42.0]
[48.0, 30.5, 20.2, 98.0, 42.0]
['hat', 'shirt', 'pants', 'shoes']
['hat', 'socks', 'pants', 'shoes']

The asterisk (*) acts as a repetition operator when creating (and initializing) lists

In [10]:
scores = [0] * 5   # same as scores = [0, 0, 0, 0, 0]
print(scores)

[0, 0, 0, 0, 0]